@using Inventory.LunarMed.Web.Models;
@model ListPricesViewModel
@{
    ViewBag.Title = "Price List";
}


<div class="span9">
    <div class="content">
        @Html.Partial("_ViewMessageList", Model.Messages)
        <div class="module">
            <div class="module-head overflow-hidden">
                <h3 class="pull-left">
                    Price List
                </h3>
                <div class="pull-right">
                    <a class="btn btn-small btn-info" id="add-new-price-list">Add New</a>
                </div>
            </div>
            <div class="module-body table">
                @Html.Partial("_ListPrices", Model.Prices)
            </div>
        </div>
        <!--/.module-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->

<div id="modalContainer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="control-group">
                    <div class="controls">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

    initDataTable();
    hideFirstColumn();

    // Add new Price click event
    $('body').on('click', 'a#add-new-price-list', function (e) {

        var url = "Price/Create"; // Full URL

        /* Cleanup */
        cleanModal();


        /* Close popups on click elsewhere */
        /* Source: http://stackoverflow.com/a/14857326/364 */
        $('body').on('click', function (e) {
            var popovers = [$('#btn-modal-share')];
            $.each(popovers, function () {
                //the 'is' for buttons that trigger popups
                //the 'has' for icons within a button that triggers a popup
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });

        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                result = '<div>' + result + '</div>';
                $('.modal-title').html($(result).find('h2').html());
                $('.modal-body').html(result);
                $('.modal-body').find('h2').remove();

                $('#modalContainer').modal();

                $("#expirateDate").datepicker();
                $("#purchaseDate").datepicker();
            }
        });

    });

    // Edit Price Link Click Event
    $('.module-body').on('click', '.edit-price', function (e) {
        var id = $(this).parent().parent().children('td:first').text();

        var url = "Price/Edit/" + id; // Full URL

        /* Cleanup */
        cleanModal();

        $('.modal-dialog').css('height', '600px');
        $('.modal-body').css('height', '490px');

        /* Close popups on click elsewhere */
        /* Source: http://stackoverflow.com/a/14857326/364 */
        $('body').on('click', function (e) {
            var popovers = [$('#btn-modal-share')];
            $.each(popovers, function () {
                //the 'is' for buttons that trigger popups
                //the 'has' for icons within a button that triggers a popup
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });

        $.ajax({
            url: url,
            type: "GET",
            success: function (result) {
                result = '<div>' + result + '</div>';
                $('.modal-title').html($(result).find('h2').html());
                $('.modal-body').html(result);
                $('.modal-body').find('h2').remove();
                $('#modalContainer').modal();
            }
        });

        e.preventDefault();
    });

    // This event acts like the Confirmation message for the Delete Operation
    $('body').on('click', '.delete-price-conf', function (e) {
        // Cleanup
        cleanModal();

        $('.modal-dialog').css('height', '');
        $('.modal-body').css('height', '');

        // Display the Confirmation Message with its contents
        $('.modal-title').html('Delete Price Confirmation');

        var id = $(this).parent().parent().children('td:first').text();
        var name = $(this).parent().parent().children('td:nth-child(2)').text();
        $('.modal-body').append('<h5>Are you sure you want to delete this price?</h5><br /><b>Name</b>: ' + name);
        $('.modal-body').append('<input type="hidden" id="hfPriceId" value="' + id + '" />');
        $('.modal-footer').append('<button type="button" class="btn btn-info delete-price">Delete</button>');
        $('#modalContainer').modal();
    });

    // This is the delete client click event and calls the ajax service to delete the price
    $('body').on('click', '.delete-price', function (e) {
        var url = "Price/Delete"; // Full URL
        var data = JSON.stringify({ id: $('#hfPriceId').val() });

        $.ajax({
            url: url,
            data: data,
            contentType: "application/json;charset=utf-8",
            type: "POST",
            success: function (result) {
                $('#divMessages').html(result);
                loadData();
                $('#modalContainer').modal('hide');
            }
        });
    });

    function loadData() {
        $.ajax({
            url: "/Price/List",
            type: "GET",
            success: function (result) {
                $('.module-body').html('').html(result);
                initDataTable();
                hideFirstColumn();
            }
        });
    }

    function hideFirstColumn() {
        $('table thead tr th:first').hide();
        $('table tfoot tr th:first').hide();
        $('table tbody tr').each(function () {
            $(this).children('td:first').hide();
        });
    }

    </script>
}
