@using Inventory.LunarMed.Web.Models;
@model ListOrdersViewModel
@{
    ViewBag.Title = "Orders List";
}


<div class="span9">
    <div class="content">
        @Html.Partial("_ViewMessageList", Model.Messages)
        <div class="module">
            <div class="module-head overflow-hidden">
                <h3 class="pull-left">
                    Orders
                </h3>
                <div class="pull-right">
                    <a class="btn btn-small btn-info" href="@Url.Action("Index", "Order")">Place Order</a>
                </div>
            </div>
            <div class="module-body table">
                @Html.Partial("_ListOrders", Model.Orders)
            </div>
        </div>
        <!--/.module-->
    </div>
    <!--/.content-->
</div>
<!--/.span9-->

<div id="modalContainer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <div class="control-group">
                    <div class="controls">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
    <script type="text/javascript">


        initDataTable();

        // Edit Product Link Click Event
        $('.module-body').on('click', '.more-details', function (e) {
            var id = $(this).parent().parent().children('td:first').text();

            var url = "Product/Edit/" + id; // Full URL

            /* Cleanup */
            cleanModal();

            $('.modal-dialog').css('height', '600px');
            $('.modal-body').css('height', '490px');

            /* Close popups on click elsewhere */
            /* Source: http://stackoverflow.com/a/14857326/364 */
            $('body').on('click', function (e) {
                var popovers = [$('#btn-modal-share')];
                $.each(popovers, function () {
                    //the 'is' for buttons that trigger popups
                    //the 'has' for icons within a button that triggers a popup
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });

            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    result = '<div>' + result + '</div>';
                    $('.modal-title').html($(result).find('h2').html());
                    $('.modal-body').html(result);
                    $('.modal-body').find('h2').remove();
                    $('#modalContainer').modal();
                }
            });

            e.preventDefault();
        });

    </script>

}