@model List<Inventory.LunarMed.Web.Models.Shared.ViewMessage>

@foreach (var msg in Model)
{
    if (msg.Type == Inventory.LunarMed.Web.Enum.MessageType.Success)
    {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Cool!</strong> @msg.Message
        </div>
    }

    if (msg.Type == Inventory.LunarMed.Web.Enum.MessageType.Error)
    {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oh snap!</strong> @msg.Message
        </div>
    }

    if (msg.Type == Inventory.LunarMed.Web.Enum.MessageType.Warning)
    {
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oh snap!</strong> @msg.Message
        </div>
    }
}


