@model Inventory.LunarMed.Web.Models.ClientViewModel

@if (Model.ClientId == 0)
{
    <h2>Add New Client</h2>
}
else
{
    <h2>Edit Client</h2>
}

@using (Html.BeginForm("Create", "Client", FormMethod.Post, new { @class = "form-horizontal row-fluid" }))
{
    <div class="control-group">
        <label class="control-label" for="basicinput">Name</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Name, new { @class = "span8", required = "required", minlength = "5" })
            <span class="help-inline">Minimum 5 Characters</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Address</label>
        <div class="controls">
            @Html.TextAreaFor(model => model.Address, new { @class = "span8", rows = "5", required = "required" })
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="basicinput">Contact Number</label>
        <div class="controls">
            @Html.TextBoxFor(model => model.ContactNumber, new { @class = "span8", required = "required" })
        </div>
    </div>
    @Html.HiddenFor(model => model.ClientId);
    <div class="control-group">
        <div class="controls control-submit">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
}


<script type="text/javascript">

    // The form submit event
    $('form').submit(function (e) {
        e.preventDefault();

        var url;
        if ($('#ClientId').val() == "0")
            url = this.action;
        else
            url = "Client/Edit";

        var clientObj = {
            ClientId: $('#ClientId').val(),
            Name: $('#Name').val(),
            Address: $('#Address').val(),
            ContactNumber: $('#ContactNumber').val()
        };

        $.ajax({
            url: url,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(clientObj),
            success: function (result) {
                $('#divMessages').html(result);
                loadData();
                $('#modalContainer').modal('hide');
            }
        });
    })
</script>


